.text-input-sect {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 50px;
  justify-content: space-between;

  label {
    font-size: 1.2rem;
  }

  .input-filed {
    margin: 5px;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 4px 10px;
    width: max-content;
    height: 20;
    // display: block;
    // outline: none;
    border: none;
    background-color: rgb(77, 77, 77);
    color: rgb(197, 197, 197);
    word-wrap: break-word;
  }

  .input-filed:focus {
    outline: none;
  }

  .input-filed::placeholder {
    color: rgb(151, 151, 151);
    font-size: 1.1rem;
  }
}