#chat-app {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  gap: 5px;

  >.content {
    display: grid;
    height: 100%;
    grid-template-columns: 250px 7fr;
    gap: 5px;
    overflow: hidden;
  }

  .contacts {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr 70px;
    gap: 2px;

    .others {
      background-color: rgb(43, 43, 43);
      padding: 5px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

  }

  .chats {
    background-color: rgb(0, 0, 0);
    display: grid;
    height: 100%;
    grid-template-rows: 1fr auto;

    .chat-container {
      background-color: rgb(43, 43, 43);
      overflow-y: auto;
      height: 600px;

    }

    .input-form {
      background-color: rgb(43, 43, 43);
      display: flex;
      align-items: center;
      // height: 100%;
      // margin: 10px;
      gap: 10px;
      padding: 0px 5px;

      // .messages-input {
      //   display: block;

      // }

      .input-filed {

        border-radius: 10px;
        font-size: 1.3rem;
        padding: 4px 10px;
        margin: 5px;
        width: 100%;

        // display: block;
        // outline: none;
        resize: none;
        border: none;
        background-color: rgb(77, 77, 77);
        color: rgb(197, 197, 197);
        word-wrap: break-word;
        overflow-y: auto;
      }

      .input-filed:focus {
        outline: none;
      }

      .input-filed::placeholder {
        color: rgb(151, 151, 151);
        font-size: 1.1rem;
      }
    }


  }

}