:root {
  --main-bg-color: rgb(46, 46, 46);
  --app-main-bg: rgb(21, 21, 21);
}

.chat-app {
  display: grid;
  background-color: var(--main-bg-color);
  height: 100%;
  overflow: hidden;
  grid-template-rows: 4fr 100px;
  align-items: center;
  // gap: 10px;
}

.container {
  background-color: var(--app-main-bg);
  margin: auto;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.message-box {
  max-height: 100%;
  overflow-y: auto;
}

.form-wrapper {
  height: 100%;
  padding: 10px;
}

.input-form {
  height: inherit;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.form-section {
  align-self: stretch;
}

.message-input {
  outline: none;
  min-width: 400px;
  height: 100%;
  border: none;
  align-self: stretch;
  padding: 5px;
  resize: none;
  border-radius: 10px;
  flex-grow: 2;
}

.message-input:focus {
  outline: none;
  border: none;
}

.btn {
  // background-color: none;
  border: 2px white solid;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  // background-color: none;
  background: none;
  // align-self: stretch;
}