.message {
  width: 100%;
  background-color: rgb(55, 55, 55);
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 5px;
  height: max-content;
}

.user-message {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}

.messaage-text {
  color: rgb(163, 163, 163);
}